body {
    background: #eee;
    color: #333;
}
h1 {
    padding-top: 3rem; 
    padding-bottom: 1rem;
    font-size: 2rem;
    border-bottom: solid 1px #333;
}
.vc-bayan-wrapper {
    margin: 0 auto;
    max-width: 80%;
    font-weight: bold;
}