body {
    font-family: Arial, Helvetica, sans-serif;
    background: #eee;
    color: #333;
}
h1 {
    padding-top: 3rem; 
    padding-bottom: 1rem;
    font-size: 2rem;
    border-bottom: solid 1px #333;
}
.vc-bayan-wrapper {
    margin: 0 auto;
    width: 80%;
    font-weight: bold;
}
.vc-bayan-element-name {
    display: flex; 
    justify-content: space-between;
    padding: 1rem;
    color: blue;
}
.vc-bayan-element-content {
    display: flex; 
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 0;
    transition: .8s;
    opacity: 0;
}
.vc-bayan-element-content>img {
    max-width: 100%;
    max-height: 100%;
    opacity: 1;
}
label {
    display: block;
    border-bottom: solid 1px #333;  
}
input {
    display: none;
}
label span.vc-btn {
    display: block;
    color: #333;
    transform: rotate(45deg);
    transition: .3s;  
    opacity: 0;
}

input:checked~.vc-bayan-element-content,
input:hover~.vc-bayan-element-content {
    opacity: 1;
    padding-bottom: 1rem;
}
input:checked~.vc-bayan-element-name {
    color: #333;
}
input:checked~.vc-bayan-element-name .vc-btn {
    rotate: 135deg;
}

@media (min-width: 320px) {
    h1 {
        font-size: 2rem; 
    }
    .vc-bayan-element-name {
        font-size: .8rem;
    }
    input:checked~.vc-bayan-element-content,
    input:hover~.vc-bayan-element-content {
        height: 10rem;
    }
    
}
@media (min-width: 820px) {
    h1 {
        font-size: 3rem; 
    }
    .vc-bayan-element-name {
        font-size: 1.5rem;
    }
    input:checked~.vc-bayan-element-content,
    input:hover~.vc-bayan-element-content {
        height: 20rem;
    }
}
@media (min-width: 1920px) { 
    h1 {
        font-size: 4rem; 
    }
    .vc-bayan-element-name {
        font-size: 2rem;
    }
    input:checked~.vc-bayan-element-content,
    input:hover~.vc-bayan-element-content {
        height: 30rem;
    }
}

@media (hover: hover) and (pointer: fine) {  
    label {
        cursor: pointer;
    }
    .vc-bayan-elements:hover .vc-bayan-element-name {
        color: #333;
    } 
    .vc-bayan-elements:hover .vc-btn {
        opacity: 1;
    }
    input:hover~.vc-bayan-element-name .vc-btn {
        rotate: 135deg;
    }

    label:hover:active .vc-bayan-element-name,
    input:hover:active~.vc-bayan-element-name .vc-btn,
    label:hover:active img {
        transition: 1s;
        opacity: .5;
        color: blue;
    }

}