body {
    background: #eee;
    color: #333;
}
h1 {
    padding-top: 3rem; 
    padding-bottom: 1rem;
    font-size: 2rem;
    border-bottom: solid 1px #333;
}
.vc-bayan-wrapper {
    margin: 0 auto;
    width: 80%;
    font-weight: bold;
}
.vc-bayan-element-name {
    display: flex; 
    justify-content: space-between;
    padding: 1rem;
    color: blue;
}
.vc-bayan-element-content {
    display: flex; 
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 0;
    transition: .8s;
    opacity: 0;
}
.vc-bayan-element-content>img {
    max-width: 100%;
    max-height: 100%;
    opacity: 1;
}
label {
    display: block;
    border-bottom: solid 1px #333;  
}
input {
    display: none;
}

label span.vc-btn {
    display: block;
    position: relative; 
    color: #333;
    transform: rotate(45deg);
    transition: .3s;  
    opacity: 0;
}

input:checked~.content,
input:hover~.content {
    opacity: 1;
    padding-bottom: 1rem;
    height: 30rem;
}


@media (hover: hover) { 
    label {
        cursor: pointer;
    }
    /* label:hover .vc-bayan-element-name {
        color: #333;
    }  */
    .vc-bayan-elements:hover .vc-bayan-element-name {
        color: #333;
    } 
    .vc-bayan-elements:hover .vc-btn {
        opacity: 1;
    } 

    input:checked~.action .vc-btn,
    input:hover~.action .vc-btn {
        rotate: 135deg;
    }

    label:active .content img {
        cursor: copy;
        transition: 1s;
        color: rgb(123, 0, 255); 
        opacity: .5;
    }

}